@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*variable css*/
:root{
  --header-height: 3rem;

  /*Colors*/
  --first-color: #FCA4A6;
  --first-color-dark: #C1576A;
  --first-color-darken: #A83E51;
  --white-color: #FCF8F8;
  
  /*Font and typography*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  
  /*z index*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*BASE*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  overflow-x: hidden;
}

h1,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*LAYOUT */
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

/*NAV*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item{
  margin-bottom: 2rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
  color: var(--white-color);
}

.nav__link:hover{
  color: var(--first-color-dark);
}

.nav__toggle{
  font-size: 1.5rem;
  cursor: pointer;
}

/*Show menu */
.show{
  right: 0;
}

/*HOME*/
.home{
  background-color: var(--first-color);
  overflow: hidden;
}

.home__container{
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}
/* width302 */
.home__img{
  position: relative;
  margin-top: 35px;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.home__img img{
  position: absolute;
  top: 0;
  left: 0;
}

.home__data{
  color: var(--white-color);
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 2.5rem;
}

.home__button{
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.home__button:hover{
  background-color: var(--first-color-darken);
}

/* media q*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle, .nav__close{
    display: none;
  }

  .nav__list{
    display: flex;
  }

  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home__container{
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  
  .home__img{
    order: 1;
    width: 375px;
    height: 289px;
  }

  .home__img img{
    width: 375px;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home__img{
    width: 604px;
    height: 466px;
  }

  .home__img img{
    width: 604px;
  }
}

@media screen and (max-width: 375px){
  .home__img{
    margin-top: 50px;
    width: 302px;
    height: 233px;
  }
} 
/*size of the div element that contains the map */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 0;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}
#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}
#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
/* Media queries for responsiveness have to make changes*/
@media only screen and (max-width: 768px) {
  #origin-input,
  #destination-input {
    width: 200px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  #mode-selector {
    margin-left: 0;
  }
}

@media only screen and (min-width: 375px) {
  #origin-input,
  #destination-input {
    font-size: 14px;
  }

  #mode-selector {
    font-size: 12px;
  }
}
/* features */
.features{
  background-color: var(--first-color);
  overflow: hidden;
}
/* section title change later */
.section-title{
  margin-top: 20px;
  font-size:30px;
  line-height: 1.15;
  margin-bottom: 1rem;
  color: var(--white-color);
  text-align:center;
}
.features__data{
  padding: 3rem 1rem;
  background-color: #ffffff;
  border-radius: .5rem;
  text-align: center;
  transition: .4s;
  box-shadow: 0 4px 6px rgba(243, 182, 191,.3);
}
.features__icon, .features__title{
  margin-bottom: var(--mb-2);
  color: var(--first-color);
}
.features__icon{
  font-size: 3rem;
}
.features__title{
  font-size: var(--mb-1);
}
.features__description{
  margin-bottom: var(--mb-4);
  color: var(--first-color-dark);
}
.features__data:hover{
  transform: translateY(-.5rem);
  box-shadow: 0 6px 8px rgba(197, 92, 110,.4);
}
.features__button{
  margin-top: 10px;
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: .5rem 1rem;
  border-radius: .25rem;
}
.features__button:hover{
  background-color: var(--first-color-darken);
}
.vid{
position: fixed;
top: 0;
left: 0;
transform: (-50%,-50%);
z-index: 10000;
background-color: rgba(0, 0, 0, 0.7);
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
visibility: hidden;
opacity: 0;
}
.vid.active{
  visibility: visible;
  opacity: 1;
}
.vid video{
  position: relative;
  max-width: 900px;
  outline: none;
}
.close{
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}
@media (max-width: 991px)
{
  .vid video
  {
    max-width: 90%;
  }
}
/* contact */
.contact{
  background-color: var(--first-color);
  overflow: hidden;
}
.contact__container{
  row-gap: 2.5rem;
}
.contact__inputs{
  display: grid;
  padding: 1rem 1rem;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;
}
.contact__input,.contact__button{
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
.contact__input {
  
  margin: 0 auto;
  width: 100%;
  padding: 1rem 2rem;
  border: 2px solid var(--first-color-light);
  color: var(--first-color-dark);
  border-radius: .5rem;
  margin-bottom: var(--mb-1);
}
.contact::placeholder{
  color: var(--first-color-light);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
}
.contact__button{
  margin-left: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: .5rem 1rem;
  border-radius: .25rem;
  cursor: pointer;
  border: none;
}
.contact__button:hover{
  background-color: var(--first-color-darken);
}
@media screen and (max-width: 768px) {
  .contact__inputs {
    grid-template-columns: 1fr;
  }
  .contact__input {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 1rem;
    margin-bottom: var(--mb-2);
  }
  .contact__button {
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
/* footer */

.footer{
  padding: 8px 0;
  background-color: var(--first-color-darken);
  color: var(--first-color-lighten);
  text-align: center;
}
/* .footer__title{
  
  margin-top: 5px;
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
} */
.footer__description{
  color: #fff;
  margin-top: 5px;
  margin-bottom: var(--mb-2);
}
.footer__social{
  font-size: 2.25rem;
  /* margin-bottom: 3rem; */
  padding-bottom: 0;
}

.footer_link{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .3s;
  
}
.footer_link:hover{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}
.footer__copy{
  font-size: var(--smaller-font-size);
  color: var(--first-color)
}